= render :layout => "layouts/lightbox", locals: {id: field, field: field} do
  - unless field.eql?("terms") or field.eql?("privacy_policy")
    %h2
      .hidden_title
        = t("people.help_texts.#{field}_title")

  = render :partial => "people/help_texts/#{field}"
